<h3>Edit a device</h3>
<form class="example-form" [formGroup]="deviceForm" (ngSubmit)="onSubmit()" novalidate>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Serial Number</mat-label>
    <input type="text" matInput formControlName="serial_number" placeholder="Your serial number">
    <div *ngIf="!serial_number?.valid && (serial_number?.dirty ||serial_number?.touched)">
      <mat-error *ngIf="serial_number.errors.required">
        Serial Number is <strong>required</strong>
      </mat-error>
    </div>
  </mat-form-field>


  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description" placeholder="Your description">
    <div *ngIf="!description?.valid && (description?.dirty ||description?.touched)">
      <mat-error *ngIf="description.errors.minlength && !description.errors.required">
        Please enter a description more than 2 letters
      </mat-error>
      <mat-error *ngIf="description.errors.required">
        Description is <strong>required</strong>
      </mat-error>
    </div>
  </mat-form-field>


  <br>

  <mat-form-field style='height:30%;width:30%;'>
    <mat-label>Select a Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let t of typeData" [value]="t.id">
        <img style='width:10%;height:10%;' src='{{t.image}}'> {{t.id}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Select an Owner</mat-label>
    <mat-select formControlName="owner">
      <mat-option [value]="null">
        without owner
      </mat-option>
      <mat-option *ngFor="let e of employees" [value]="e.id">
        {{e.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>




  <p>
    <button mat-raised-button color="primary" type="submit">Edit</button>
  </p>
</form>
